@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(32, 33, 35, 0.9);
  color: #fff;
  padding: 0 20px;
}
